.product-table {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 600px;
}

.table {
  width: 600px;
  border-spacing: 0px;
  margin: auto;
}

#paid-for {
  text-align: left;
  /* padding: 5px; */
}

#table-container{
    padding: 10px 10px 0px 10px;
    min-width: 50vw;
    margin: auto;


}
